
#hoccoban-chrome-extension-root-akl-vuong{	
	position: fixed;
	top: 0;
	right: 0;	
	height: 99%;
	width: 100%;
	z-index: 7238427842784378372884999983647;
	border-radius: 3px;
	background-color: #fff;
    color: #000;
    overflow: auto;
}
	